[defaults]
inventory = inventory/aws_ec2.yml
host_key_checking = False  #Prevents SSH "Are you sure you want to connect?" prompts
deprecation_warnings = False
private_key_file = ../video-relay
remote_user = ubuntu

[inventory]
enable_plugins = amazon.aws.aws_ec2